Source: com.github.phase1geo.minder
Section: x11
Priority: extra
Maintainer: Trevor Williams <phase1geo@icloud.com>
Build-Depends: meson,
               valac,
               debhelper,
               libcairo2-dev,
               libgranite-dev,
               libgtk-3-dev,
               libxml2-dev,
               libarchive-dev

Standards-Version: 3.9.3
Package: com.github.phase1geo.minder
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Mind-mapping application
