[Desktop Entry]
Name=Minder
GenericName=Mind-mapping Application
Comment=Mind-mapping application
Categories=Office;Development;
Exec=com.github.phase1geo.Minder
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=Minder
X-GNOME-UsesNotifications=true
Keywords=Mind;Mapping;

[Desktop Action NewDocument]
Name=New Document
Exec=com.github.phase1geo.Minder -n
